/* BASIC SETTING CODE START HERE   */
*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body
{

}
/* BASIC SETTING CODE END HERE   */

/* HEADER SECTION START HERE  */
.header-container
{
    background-color:#1E3271 ;
    padding: 20px;
}
.logo 
{
    width: 100px;
    
}
.vl {
    border-left: 2px solid rgb(255, 255, 255);
    height: 100px;
    position: absolute;
    left: 22%;
    margin-left: -3px;
    top: 20px;
  }
  .hedaer-title
  {
    position: absolute;
    left: 23%;
    margin-left: -3px;
    top: 20px;
    
  }
  .hedaer-title span 
  {
      font-size: 30px;
  }
  .searchbar
  {
      text-align: right;
    
  }
  .header-input
  {
      width: 222px;
      height: 36px;
      background-color:#cbcdd321 ;
      outline: none;
      border: 1px solid white;
      border-radius: 2px;
      padding-left: 10px;
      text-align: left;
      padding: 10px;
  }
  .src-icon
  {
    padding: 2px 12px 0px 14px;
  }
  .icon-button i
  {
      color: black;
  }
  .icon-button
  {
    margin-left: -1%;
    height: 37px;
    outline: none;
    border: none;
    border-radius: 0px 3px 3px 0px;
   
    
  }
  ::placeholder
  {
      font-size: 18px;
      color: white;
  }
  .social-icon
  {
      color: white;
      width: 263px;
      border: 1px solid rgba(153, 147, 147, 0.63);
      text-align: center;
      border-radius: 2px;
  }
  .social-icon span 
  {
      font-size: 12px;

  }
  .social-icon a 
  {
      text-decoration: none;
      color: white;
      transition: .4s;
  }
  .social-icon a:hover 
  {
      color: #4a6bd8;
  }
/* HEADER SECTION END HERE  */
/* ----------------------------------------------- */
/* NAV MENU START HERE  */
.t-icon
{
    font-size: 25px;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: .7s;
}
.t-icon:hover
{
   background: white;
   color: black;
}
.nav-container
{
    background-color:#1E3271 ;
    margin-top: -2%;
}
.nav-menu
{
    background-color: #1E3271;
}
.nav-link
{
    font-size: 17px;
    color: white;
    transition: .4s;
}
.nav-link:hover
{
    color: gray;
}
/* NAV MENU END HERE  */
/* MAIN SECTION STYLE START  */
.welcome
{
    background-color: #EEEEEE;
    padding: 10px;
    border-radius: 3px;
}
.sec-1-btn
{
    padding: 6px 30px;
    border: none;
    background-color:#CB6743 ;
    color: white;
    font-size: 18px;
    font-weight: 700px;
}
.art-social
{
    background-color:#7C9FBF ;
    padding: 20px;
}
.art-social img 
{
    width: 20px;
}
.art-social span
{
   font-size: 18px;
   color: white;
   font-weight: 600;
}
.message
{
    background-color: #EEEEEE;
}
.sec-3rd-btn
{
    padding: 2px 10px;
}
.sectinon-head
{
   display: flex;
   justify-content: space-between;
}
.header-btn
{
 display: block;
 height: 25px;
 padding: 3px  10px;
 align-items: center;
 display: flex;
 justify-content: center;
 font-size: 16px;
 font-weight: bold;
 border: none;
}
.news-event
{
    background-color: #EFEFEF;
    padding: 30px;
}
.news-event img
{
    width: 100%;
    height: 200px;
}
.card 
{
    background-color:#EFEFEF ;
    border: none;
}
.header-5ht
{
    background: rgba(0, 0, 0, 0.705);
    margin-top: -18%;
    padding: 10px;
    color: white;
    transition: .4s;
    cursor: pointer;
}
.header-5ht:hover
{
    color: lightgrey;
}
.header-5ht_
{
    background: rgba(0, 0, 0, 0.705);
    margin-top: -11%;
    padding: 10px;
    color: white;
    transition: .4s;
    cursor: pointer;
}
.header-5ht_:hover
{
    color: lightgrey;
}
.sec-5th-btn
{
    padding: 0px 10px ;
    border: none;
    border-radius: 2px;
}
.researce-item 
{
    background: white;
}
.researce-item p
{
    text-align: justify;
}
.notice-board 
{
    background:#EFEFEF ;
}
.notice-board  i 
{
    color: black;
}
.notic-icon a
{
 text-decoration: none; 
 color: rgb(0, 0, 0);
 font-weight: bold;
 transition: .2s;
}
.notic-icon a:hover
{
 color: rgb(30, 30, 179);
}
.admition-info a
{
    display: block;
    margin: 4%;
    text-decoration: none;
    color: black;
    transition: .2s;
}
.admition-info a:hover 
{
    color:rgb(30, 30, 179) ;
}
.campus
{
    background-color: #4095C9;
    padding: 50px;
}
.more-video
{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}
/* MAIN SECTION END HERE  */
/* FOOTER SECTION START HERE  */
.footer-section 
{
    background-color:#1E3271 ;
    padding: 50px;
}
.footer-hr 
{
    color: white;
}
.footer-btn
{
    display: block;
    position:absolute;
    left: 900px;
    margin-top: -35px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #d8d8da5b ;
    background-color:#1E3271 ;
    color: white;
}
.footer-link a
{
    display: block;
    margin: 2%;
    text-decoration: white;
    color: white;
    transition: .2s;
    font-size: 14px;
    width: 200px;
}
.footer-link a:hover 
{
    color:rgb(67, 67, 238) ;
}
.footer-link i
{
    font-size: 8px;
}
.contact-info
{
    width: 400px;
    height: 200px;
    border: 1px solid white;
    padding: 20px;
}
.contact-info span, i
{
    color: white;
    font-size: 14px;
}
.contact-info i
{
    margin-right: 1%;
}
.footer-icon
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.f-icon i 
{
    padding: 5px;
    transition: .3s;
}
.f-icon i:hover
{
    color:rgb(67, 67, 238) ;
}
/* ------------RESPONSIVE WEBSITE------------- */
@media screen and (max-width:990px) 
{
    .hedaer-title span
    {
        font-size: 20px;
    }
    .hedaer-title
    {
        left: 30%;
    }
    .vl {
        border-left: 2px solid rgb(255, 255, 255);
        height: 80px;
        position: absolute;
        left: 27%;
        margin-left: -3px;
        top: 20px;
      }
      .logo
      {
          width: 80px;
      }

}